body
{
    background-image: url("warehouse.jpg");
}

h1
{
    font: 36pt monospace;
    text-decoration: underline;
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-style: groove;
    text-transform: uppercase;
    background-color: rgb(133, 2, 2);
    padding: 3px 10px;
    border-radius: 10px;
}

#pDisplay{
  display: inline;
}

.toggle 
{
    --width: 120px;
    --height: calc(var(--width) / 3);
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggle input 
  {
    display: none;
  }

  .toggle .slider 
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: rgb(8, 8, 8);
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before 
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider
   {
    background-color: #ff0000;
  }

  .toggle input:checked+.slider::before
   {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels 
  {
    position: absolute;
    top: 10px;
    left: 70px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after
 {
    content: attr(data-off);
    position: absolute;
    left: 70px;
    color: #f70000;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before 
{
    content: attr(data-on);
    position: absolute;
    left: 70px;
    color: #09f71d;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after
 {
    opacity: 0;
}

.toggle input:checked~.labels::before 
{
    opacity: 1;
}

.dropbtn {
    background-color: #ff7b00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(75, 75,75);
    min-width: 160px;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(99, 99, 99);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
.robot
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.space
{
    margin-bottom: 50px;
}

